.Delivered{
    color: rgb(5, 154, 212);
    background-color: rgb(232, 246, 252);
}

.Completed{
    color: rgb(0, 146, 78);
    background-color: rgb(232, 252, 236);
}

.Prepared{
    color: rgb(218, 165, 32);
    background-color: rgb(255, 243, 211);
}

.Prepone{
    color: rgb(253, 118, 65);
    background-color: rgb(255, 234, 225);
}

.background{
    border-radius: 5px;
    padding: 2px 10px;
}